<div class="container">
    <div
        style="display: flex; flex-direction: column; justify-content: space-around; width: 80%; height: 50%; padding: 0 30px; box-sizing: border-box; backdrop-filter: blur(10px); background: #c2c2c23f; margin: 0 auto; align-self: center; text-align: center; border-radius: 10px;">
        <div>
            <h2
                style="font-size: 60px; margin-bottom: 30px; font-family: 'Mukta', sans-serif; color: rgb(63, 62, 62)">
                Golang ToDo</h2>
            <p style="font-style: italic;">Make your life easier, write down
                your next tasks and forget about having them on your mind all
                day!</p>
        </div>
        <div
            style="display: flex; flex-direction: row; justify-content: center;">
            <button (click)="openLogin()"
                style="margin-right: 50px; height: 50px !important; width: 150px !important; font-size: 18px; font-weight: bold;"
                class="button large-button btn-submit"> Login </button>
            <button (click)="openSignUp()"
                style="height: 50px !important; width: 150px !important; font-size: 18px; font-weight: bold;"
                class="button large-button btn-submit"> Sign Up </button>
        </div>
    </div>
</div>
<app-modal *ngIf="$loginModal | async as showLogin"
    [modalService]="loginModalService">
    <app-user-login-form></app-user-login-form>
</app-modal>

<app-modal *ngIf="$signUpModal | async as showSignUp"
    [modalService]="signUpModalService">
    <app-user-signup-form></app-user-signup-form>
</app-modal>