<app-user-form [formGroup]="insertTask" (submitEvent)="submit()">
  <h3 title class="form__title">{{ title }}</h3>

  <ng-container fields>
    <app-text-field
      type="text"
      placeholder="Title *"
      icon="title"
      formControlName="title"
      fieldName="title"
      [parentForm]="insertTask"
    >
    </app-text-field>

    <app-text-area-field
      placeholder="Description *"
      icon="description"
      formControlName="description"
      fieldName="description"
      [parentForm]="insertTask"
      [rows]="maxRows"
      [cols]="maxCols"
    >
    </app-text-area-field>

    <app-text-field
      type="date"
      placeholder="dueDate"
      icon="calendar_month"
      formControlName="dueDate"
      fieldName="dueDate"
      [parentForm]="insertTask"
    >
    </app-text-field>
  </ng-container>

  <ng-container buttons>
    <app-button
      [text]="getEvent"
      type="submit"
      classes="large-button btn-submit"
    >
    </app-button>
    <app-button
      text="Clear"
      classes="large-button btn-remove"
      (clicked)="clear()"
    ></app-button>
  </ng-container>
</app-user-form>
