<form [method]="formMethod" [formGroup]="insertTask" class="form" (ngSubmit)="addTask()">
    <h3 class="form__title">{{ title }}</h3>

    <label for="title" class="form__label">Title *</label>
    <input type="text" id="title" class="form__input" formControlName="title" autofocus required/>
    <div class="form__error" *ngIf="insertTask.get('title')?.invalid && (insertTask.get('title')?.dirty || insertTask.get('title')?.touched)">
        <span *ngIf="insertTask.get('title')?.errors?.['required']">Title is required</span>
        <span *ngIf="insertTask.get('title')?.errors?.['maxlength']">Limited to 26 chars.</span>
    </div>
    
    <label for="description" class="form__label">Description</label>
    <textarea id="description" class="form__input" formControlName="description" rows="4" maxlength="88"></textarea>
    
    <label for="dueDate" class="form__label">Due date *</label>
    <input type="date" id="dueDate" class="form__input" formControlName="dueDate" required/>
    <div class="form__error" *ngIf="insertTask.get('dueDate')?.invalid && (insertTask.get('dueDate')?.dirty || insertTask.get('dueDate')?.touched)">
        <span *ngIf="insertTask.get('dueDate')?.errors?.['presentOrFuture']">Present or future date</span>
    </div>
    
    <div class="form__buttons">
        <app-button text="Add Task" type="submit" classes="large-button btn-submit"></app-button>
        <app-button text="Clear" classes="large-button btn-remove"></app-button>
    </div>
</form>
