<div class="input__container">
        <div class="input">
                <span class="input__icon"><i
                                class="material-icons material-symbols-sharp"
                                *ngIf="icon">{{ icon }}</i></span>
                <input class="input__field" [type]="type"
                        [placeholder]="placeholder" [title]="title"
                        [value]="value" [name]="fieldName"
                        (input)="onChangeHandler($event)"
                        (blur)="onTouched()" />
        </div>

        <app-error-field [formField]="formField"></app-error-field>
</div>