<div class="item-container">
    <div class="item" *ngIf="task">
        <div [class]="'item__icon ' + task.task_status.toLowerCase()">
            <i class="material-icons">assignment</i>
        </div>
        <div class="item__info">
            <h3>{{ task?.task_title }}</h3>
            <p *ngIf="task.task_description">{{ task.task_description }}</p>
            <p *ngIf="!task.task_description" class="descripcion">- {{ "No
                details" }} -</p>
        </div>
        <div class="item__events">
            <app-button icon="done" classes="rounded-button btn-green"
		(clicked)="finish(task.task_code)"
		*ngIf="task.task_status !== 'FINALIZADA'"></app-button>
            <app-button icon="delete" classes="rounded-button btn-remove"
                (clicked)="delete(task.task_code)"></app-button>
        </div>
    </div>
</div>
